.place-card__container {
    height: 282px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.place-card__container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}