@import url(./popup__content/popup__content.css);
@import url(./popup__close/popup__close.css);
@import url(./popup__title/popup__title.css);
@import url(./popup__form/popup__form.css);
@import url(./popup__input/popup__input.css);
@import url(./popup__button/popup__button.css);
@import url(./popup_is-opened/popup_is-opened.css);
@import url(./popup__error/popup__error.css);

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
