.popup__button:disabled {
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
  color: rgba(0, 0, 0, .2);
  cursor: default;
}

.popup__button {
  width: 100%;
  height: 50px;
  margin-top: 48px;
  color: #ffffff;
  background-color: #000000;
  line-height: 0;
}