@import url(./user-info__photo/user-info__photo.css);
@import url(./user-info__data/user-info__data.css);
@import url(./user-info__name/user-info__name.css);
@import url(./user-info__job/user-info__job.css);
@import url(./user-info__button/user-info__button.css);

.user-info {
  display: flex;
  position: relative;
  align-items: flex-start;
  color: white;
  width: 100%;
}

@media screen and (max-width: 980px) {
  .user-info {
    flex-direction: column;
    align-items: center;
  }
}
