.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  /* display: block; */
  /* line-height: 1.5; */
}

.button:focus {
  outline-color: greenyellow;
}
