.popup-image__img {
    /* position: relative; */
    max-width: 80vw;
    max-height: 80vh;
    /* width: 100%; */
    /* height: 100%; */
    border-radius: 5px;
    /* background-size: contain; */
}